In [163]:
import pandas as pd

In [164]:
df = pd.read_excel("Eksamen-2024/Final2024.xlsx", engine = 'openpyxl', skiprows=1) #installere conda install openpyxl i terminalen

In [165]:

df.head()

,Kandidatnr,1.1 tallsystem,1.2 Sortering,1.3 ASCII hullbånd,1.4 oblig,1.5 hvilken likning,1.6 virker koden,1.7 hva blir printet,1.8 programflyt,2.1,...,3.8,4.1,4.2,4.3,4.4,4.5,4.6,4.7,4.8,Grand Total
0,1,2.4,3.0,1.9,3,3,0,3,3.8,5,...,4.00,3.0,3,3,4,6,1.5,1,2,89.74
1,2,2.1,3.0,2.5,0,3,3,3,1.8,3,...,3.00,1.0,2,3,4,6,1.0,0,2,70.88
2,3,0.9,0.0,0.0,0,0,0,0,0.0,4,...,3.25,4.0,2,0,0,0,1.0,0,1,37.64
3,4,2.4,3.0,1.9,3,3,3,3,1.8,5,...,3.50,2.5,1,3,4,0,0.5,0,0,76.81
4,5,2.4,0.0,0.0,0,0,0,0,1.8,0,...,3.50,1.0,2,0,0,0,0.5,0,2,35.71

In [166]:
df['Grand Total'].count() # getting total count of entries

np.int64(569)

In [167]:
# Creating bins and labels to divide grand total into grade segements
score_groups = [0, 40, 46, 58, 77, 92, 100]
grade_labels =['F', 'E', 'D', 'C', 'B', 'A']

In [168]:
pd.cut(df['Grand Total'], bins = score_groups, labels = grade_labels)

0      B
1      C
2      F
3      C
4      F
      ..
564    C
565    C
566    C
567    C
568    D
Name: Grand Total, Length: 569, dtype: category
Categories (6, object): ['F' < 'E' < 'D' < 'C' < 'B' < 'A']

In [169]:
# create a new column for grades
df['Grade'] = pd.cut(df['Grand Total'], bins = score_groups, labels = grade_labels)

In [170]:
df['Grade'] # see the new column

0      B
1      C
2      F
3      C
4      F
      ..
564    C
565    C
566    C
567    C
568    D
Name: Grade, Length: 569, dtype: category
Categories (6, object): ['F' < 'E' < 'D' < 'C' < 'B' < 'A']

In [171]:
# counting number of items (students) per grade
df['Grade'].value_counts()

Grade
C    271
B    173
D     76
F     24
E     19
A      6
Name: count, dtype: int64

In [172]:
df['Grand Total'].min()

26.299999999999997

In [173]:
# Filter rows where grade is E
students_with_e = df[df['Grade'] == 'E']

# Get the lowest Grand Total among those
lowest_e_score = students_with_e['Grand Total'].min()

print("Lowest score with grade E:", lowest_e_score)

Lowest score with grade E: 40.12

In [174]:
#Filder row where grade is B
students_with_b = df[df['Grade'] == 'B']

#get highest grand total 
highest_b_score = students_with_b['Grand Total'].max()

print("Highest score with grade B:", highest_b_score)

Highest score with grade B: 91.99000000000001

#### Finding outliers Steps 
1- Clean data from duplicates values and take only unique value that occur once.  

2- sort them in ascending order from min to max value. 

3- Calculate Median

4- Calculate Mean

5-Finding outliers using IQR

In [178]:
#Finding outliers steps 

# Obtain unqiue scores and convert dataframes to list
final_scores= df['Grand Total'].unique().tolist() 

# First step: Sort the list in ascending order and round two digits after decimal point.
final_scores_list = [round(score,2) for score in final_scores]

# Sort in ascending order, remove duplicates using set to find unique values occur only once. 
final_scores_sorted= list(sorted(set(final_scores_sorted)))

print(f"final_scores_sorted{final_scores_sorted}")

final_scores_sorted[26.3, 28.28, 29.7, 30.24, 30.25, 31.13, 32.56, 32.61, 32.78, 33.82, 34.13, 35.09, 35.23, 35.71, 35.89, 36.01, 37.08, 37.59, 37.64, 37.77, 38.03, 38.22, 38.83, 39.22, 40.12, 40.39, 40.65, 40.75, 40.77, 40.88, 41.13, 41.43, 42.35, 42.5, 43.19, 43.24, 43.85, 43.87, 44.15, 44.24, 45.61, 45.68, 45.8, 46.01, 46.15, 46.52, 46.74, 46.9, 46.97, 47.09, 47.51, 47.52, 47.57, 47.73, 47.75, 48.05, 48.08, 48.1, 48.28, 48.4, 48.43, 48.71, 48.72, 48.73, 48.89, 49.43, 49.63, 49.75, 49.86, 50.11, 50.17, 50.38, 50.51, 50.62, 50.84, 51.07, 51.19, 51.4, 51.62, 51.66, 51.74, 52.48, 52.7, 52.78, 52.85, 52.86, 53.6, 53.67, 53.75, 54.08, 54.42, 54.43, 54.48, 54.49, 54.58, 54.64, 54.93, 55.14, 55.16, 55.25, 55.33, 55.71, 56.15, 56.22, 56.41, 56.58, 56.65, 56.71, 56.73, 56.99, 57.2, 57.31, 57.4, 57.59, 57.67, 57.75, 57.82, 58.01, 58.06, 58.13, 58.18, 58.25, 58.28, 58.57, 58.75, 58.82, 58.86, 58.93, 59.03, 59.12, 59.23, 59.26, 59.38, 59.46, 59.53, 59.65, 59.68, 59.7, 59.75, 59.98, 59.99, 60.0, 60.1, 60.11, 60.24, 60.25, 60.33, 60.37, 60.38, 60.41, 60.45, 60.5, 60.68, 60.75, 60.85, 60.97, 61.09, 61.26, 61.3, 61.33, 61.35, 61.57, 62.01, 62.03, 62.31, 62.33, 62.35, 62.55, 62.56, 62.66, 62.85, 63.13, 63.18, 63.23, 63.24, 63.26, 63.49, 63.61, 63.66, 63.68, 63.69, 63.7, 63.73, 63.78, 63.83, 63.91, 64.05, 64.08, 64.25, 64.5, 64.53, 64.65, 64.72, 64.73, 64.91, 64.93, 65.03, 65.09, 65.31, 65.33, 65.53, 65.66, 65.78, 65.8, 65.93, 66.0, 66.06, 66.18, 66.24, 66.34, 66.43, 66.48, 66.63, 66.76, 66.91, 66.96, 67.03, 67.04, 67.2, 67.23, 67.31, 67.38, 67.39, 67.4, 67.56, 67.58, 67.59, 67.83, 67.86, 67.88, 67.95, 67.99, 68.17, 68.23, 68.26, 68.33, 68.4, 68.43, 68.44, 68.56, 68.6, 68.66, 68.71, 68.73, 68.91, 68.98, 69.13, 69.19, 69.43, 69.61, 69.69, 69.91, 70.05, 70.06, 70.11, 70.15, 70.16, 70.21, 70.25, 70.41, 70.43, 70.56, 70.63, 70.67, 70.81, 70.85, 70.86, 70.88, 70.93, 70.98, 71.0, 71.03, 71.06, 71.1, 71.11, 71.2, 71.26, 71.48, 71.6, 71.7, 71.76, 71.83, 71.91, 71.94, 72.01, 72.03, 72.06, 72.16, 72.23, 72.41, 72.56, 72.6, 72.66, 72.89, 72.91, 72.98, 73.13, 73.15, 73.16, 73.19, 73.28, 73.31, 73.33, 73.53, 73.56, 73.58, 73.73, 73.76, 73.86, 73.87, 73.9, 74.08, 74.16, 74.18, 74.23, 74.35, 74.48, 74.71, 74.8, 74.83, 74.91, 75.06, 75.09, 75.13, 75.18, 75.23, 75.25, 75.33, 75.35, 75.38, 75.39, 75.41, 75.45, 75.51, 75.58, 75.6, 75.66, 75.68, 75.71, 75.75, 75.79, 75.82, 75.83, 75.88, 75.89, 76.01, 76.1, 76.11, 76.16, 76.31, 76.34, 76.46, 76.56, 76.59, 76.6, 76.76, 76.81, 76.91, 76.92, 76.93, 76.98, 77.01, 77.06, 77.08, 77.16, 77.18, 77.26, 77.4, 77.41, 77.43, 77.51, 77.53, 77.58, 77.59, 77.63, 77.83, 77.91, 77.93, 78.0, 78.01, 78.06, 78.13, 78.18, 78.23, 78.24, 78.26, 78.39, 78.41, 78.43, 78.52, 78.67, 78.84, 79.0, 79.16, 79.23, 79.33, 79.36, 79.56, 79.59, 79.7, 79.74, 79.83, 79.85, 80.08, 80.13, 80.21, 80.27, 80.31, 80.49, 80.51, 80.66, 80.68, 80.74, 80.76, 80.88, 80.91, 81.0, 81.21, 81.24, 81.25, 81.31, 81.39, 81.41, 81.71, 81.76, 81.8, 81.88, 82.03, 82.05, 82.06, 82.08, 82.11, 82.16, 82.33, 82.36, 82.41, 82.43, 82.66, 82.68, 82.73, 82.76, 82.92, 83.1, 83.16, 83.34, 83.44, 83.56, 83.58, 83.81, 83.91, 83.99, 84.04, 84.06, 84.1, 84.13, 84.34, 84.35, 84.39, 84.48, 84.49, 84.5, 84.51, 84.57, 84.66, 84.81, 84.85, 84.99, 85.01, 85.25, 85.39, 85.54, 85.6, 85.85, 85.89, 85.98, 86.2, 86.25, 86.5, 86.64, 86.76, 86.91, 87.16, 87.49, 87.5, 87.66, 87.9, 88.06, 88.19, 88.26, 88.39, 88.59, 88.74, 88.84, 88.91, 89.08, 89.16, 89.24, 89.3, 89.41, 89.5, 89.6, 89.74, 90.09, 90.33, 90.48, 90.5, 90.76, 90.85, 90.94, 90.99, 91.49, 91.99, 92.35, 92.39, 92.41, 92.85, 93.24, 95.85]

In [192]:
# Second step calculate median

# Count total number of item in our list after cleaning
total_scores = len(final_scores_sorted)
print(f"total items in the list = {total_scores}")

# Given 518 is even number we follow the rule of finding median for even numbers. 
N1_indx = int(total_scores/2)
N2_indx = int(total_scores/2 + 1)
print(N1_indx, N2_indx)

# calculate our median index
avg_of_N1_and_N2 = (final_scores_sorted[N1_indx] + final_scores_sorted[N2_indx] / 2)
print(f"Median index is {avg_of_N1_and_N2}")

# get the median 
print(f"Median = {final_scores_sorted[105]}")
print(final_scores_sorted[N1_indx], final_scores_sorted[N2_indx])

total items in the list = 518
259 260
Median index is 105.625
Median = 56.58
70.41 70.43

In [191]:
# calcaulting the mean (avg) and round it to 2 decimal digits.
mean = round(sum(final_scores_sorted)/total_scores, 2) 
print(f"mean = {mean}")

mean = 68.02

Comment: Given that mean > median this indicate our data is right skewed 
where mean (68.02) - median (56.58) = 11.44 points.  
However  given that this is analysis of overall  exam scores for all student, and g mean can be affected by outlieres such as a few students who are in range of A grade.
Therefore, using median is perfered in this scenrio for fair overall reporting of the data.