In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def read_data(file_path):
    '''Read Excel File'''
    
    df = pd.read_excel(file_path, engine = 'openpyxl')

    return df

In [3]:
def prep_time_per_task(df):
    '''Extract time relevant data for each student per question and create new df'''
       
    task_time_df = df.groupby('candidate_id', as_index=False).first()[
    ['candidate_id', 'question_number', 'question_title', 'question_duration_seconds', 'incident_time_mins', 'auto_score_per_question', 'max_question_score']
    ]
		
    return task_time_df

In [8]:
def convert_seconds_to_minutes(df):
    df['time_per_questions_mins'] = round(df['question_duration_seconds']/60, 2)
    return df

### Execution

In [4]:
df = read_data("data/cleaned_data.xlsx")
df.head()

,last_modified_time,exam_start_time,extra_time_mins,incident_time_mins,candidate_id,max_question_score,question_number,question_title,question_duration_seconds,auto_score_per_question,candidate_response_code,candidate_response_text,total_score
0,2024-12-11 15:57:52,2024-12-11 14:00:02,0,0,17107,2.4,1.1,Tallsystemer,85,2.4,simpleChoice_1368096164456,Heksadesimale tall,71.61
1,2024-12-11 15:57:52,2024-12-11 14:00:02,0,0,17107,2.4,1.1,Tallsystemer,85,2.4,simpleChoice_IA172399520449584402464-f255-46e6...,Oktale tall,71.61
2,2024-12-11 15:57:52,2024-12-11 14:00:02,0,0,17107,2.4,1.1,Tallsystemer,85,2.4,simpleChoice_IA17239952044953d28e157-ac4c-49db...,Titallsystemet,71.61
3,2024-12-11 15:57:52,2024-12-11 14:00:02,0,0,17107,2.4,1.1,Tallsystemer,85,2.4,simpleChoice_IA1723995204495960f601e-73d5-48f8...,Heksadesimale tall,71.61
4,2024-12-11 15:57:52,2024-12-11 14:00:02,0,0,17107,2.4,1.1,Tallsystemer,85,2.4,simpleChoice_IA17239952636882cb13f25-bd73-4352...,Titallsystemet,71.61

In [5]:
task_time_df = prep_time_per_task(df)
task_time_df.head()

,candidate_id,question_number,question_title,question_duration_seconds,incident_time_mins,auto_score_per_question,max_question_score
0,17104,1.1,Tallsystemer,295,0,2.4,2.4
1,17105,1.1,Tallsystemer,255,0,2.1,2.4
2,17106,1.1,Tallsystemer,129,0,0.9,2.4
3,17107,1.1,Tallsystemer,85,0,2.4,2.4
4,17112,1.1,Tallsystemer,272,0,1.2,2.4

In [9]:
# add column for minutes per question
task_time_df = convert_seconds_to_minutes(task_time_df)
task_time_df.head()

,candidate_id,question_number,question_title,question_duration_seconds,incident_time_mins,auto_score_per_question,max_question_score,time_per_questions_mins
0,17104,1.1,Tallsystemer,295,0,2.4,2.4,4.92
1,17105,1.1,Tallsystemer,255,0,2.1,2.4,4.25
2,17106,1.1,Tallsystemer,129,0,0.9,2.4,2.15
3,17107,1.1,Tallsystemer,85,0,2.4,2.4,1.42
4,17112,1.1,Tallsystemer,272,0,1.2,2.4,4.53